<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Medicine</title>
</head>

<body>
	<h1>Medicine Page</h1>

	<p>Medicine : <span th:text="${dataMedicine.name}"></span></p>
	<p>Dosage : <span th:text="${dataMedicine.dosage}"></span></p>

</body>
</html>	