.order-container {
    width: 80%;
    padding: 5px;
    border: 1px solid #bbb;
    background-color: aliceblue;
    border-radius: 5px;
}

.asterik {
    color: red;
    font-size: 15pt;
}

.validate {
    color: red;
    font-size: 9pt;
}