table{
	background-color:#F0F0F0;
	border-collapse:collapse;
	border:1px solid #888;
}
td{
	border:1px solid #888;
	padding:10px;
}
.textbox{
font-size:15pt;
padding:3px;
background-color:#FFFFE8;
border: 1px solid #777;
border-radius:5px;
}

.emailhtml{
font-size:15pt;
padding:3px;
background-color:#FFFFE8;
border: 1px solid #777;
border-radius:10px 0px 10px 0px;
}